@import "config.less";

@grid-width: 700px;
@sidebar-width: @width - @grid-width;

#game * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game-cover {
	width: @width;
	height: @height;
	background: gray;
	opacity: 0.8;
	display: none;
	position: absolute;
}

#game {
	position: relative;
	display: none;

	&.tool_GLUE {
		canvas {
			cursor: pointer;
		}
	}

	#grid, #sidebar {
		position: absolute;
	}

	#grid {
		left: 0px;
		background: pink;
		width: @grid-width;
		height: @height;
		display: inline-block;

		.inner {
			display: table;
			height: 100%;
			width: 100%;

			.inner2 {
				display:table-cell;
				vertical-align:middle;
				position: relative;

				canvas {
					width: 700px;
					height: 600px;
					z-index: 1;
				}

				#gameCanvas {
					background: url(/img/bg.png);
				}

				#debugCanvas {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	&.state_BUILD {
		#toolbox {
			display: none !important;
		}
		#score {
			display: none;
		}
	}

	#sidebar {
		right: 0px;
		background-color: #394a67;
		border-left: 2px solid #23314A;
		width: @sidebar-width;
		height: @height;
		display: inline-block;

		#level {
			margin-top: 20px;
			color: white;
			font-weight: bold;
			text-align: center;
		}
		#replay_name {
			text-align: center;
			font-weight: bold;
			margin-top: 10px;
		}

		.inner {
			padding: 10px;
			padding-top: 0px;

			.stat {
				text-align:center;
				font-size: 30px;
				strong {
					display: block;
				}
				span {
					font-size: 50px;
					font-weight: bold;
				}
			}

			button {
				width: 100%;
				height: 30px;
				font-size: 20px;
			}

			#toolbox {
				display: none;
				background: white;
				border: 2px solid black;
				padding: 0;
				list-style: none;

				li {
					padding-left:5px;
					cursor: pointer;

					&:hover {
						background: orange;
					}

					&.active {
						background: blue;
					}
				}
			}

			#score {
				font-size: 2em;
			    text-align: center;
			}
		}
	}
}