@import "config.less";

@overlay-width: 300px;

body {
	margin: 0;
	font-family: 'Raleway';
	font-size: 20px;
	background: #000;
}

a {
	color: #000;
}

button {
	width: 120px;
	display: block;
	font-size: 13px;
	margin: 8px auto;
	padding: 6px 10px;
	background: transparent;
	cursor: pointer;
	outline: none;
	border: 1px solid #999;
	text-shadow: 0 1px 1px #fff;
	font-weight: bold;
	background: -webkit-linear-gradient(top, #fff, #e0e0e0);
	background:    -moz-linear-gradient(top, #fff, #e0e0e0);
	background:     -ms-linear-gradient(top, #fff, #e0e0e0);
	background:      -o-linear-gradient(top, #fff, #e0e0e0);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
}

button:active {
	 border: 1px solid #aaa;
	 border-bottom-color: #ccc;
	 border-top-color: #999;
	 -webkit-box-shadow: inset 0 1px 2px #aaa;
	 -moz-box-shadow:    inset 0 1px 2px #aaa;
	 box-shadow:         inset 0 1px 2px #aaa;
	 background: -webkit-linear-gradient(top, #e6e6e6, #dcdcdc);
	 background:    -moz-linear-gradient(top, #e6e6e6, #dcdcdc);
	 background:     -ms-linear-gradient(top, #e6e6e6, #dcdcdc);
	 background:      -o-linear-gradient(top, #e6e6e6, #dcdcdc);
}

#container {
	background: #7c879d;
	width: @width;
	height: @height;
	overflow: hidden; /* To stop margins collapsing */
}

#end-game-menu {
	width: 600px !important;
	margin-left: 150px !important;
	p {
		font-size: 18px !important;
	}

	strong {
		display: block;
		font-size: 25px;
	}
}

#about-menu {
	p {
		font-size: 20px !important;
	}
}

#menus {
	position: relative;
	height: 900px;
	width: 99999999px;
	z-index: 3;

	.overlay-window {
		display: inline-block;
		height: 100%;
		width: @overlay-width;
		margin-left: (@width - @overlay-width) / 2;

		.inner {
			display: table; 
			height: 100%;
			
			.inner2 {
				display:table-cell;
				vertical-align:middle;

				.inner3 {
					background-color: rgba(65, 93, 129, 0.75);
					color: white;
					padding: 14px;
					text-align: center;
					border: 6px solid rgba(211, 238, 255, 0.46);
					border-radius: 12px;
					-webkit-background-clip: padding;
					p, ul {
						font-size: 40px;
					}
					ul {
						list-style: none;
						padding: 0;

						li {
							cursor: pointer;
							padding-top: 8px;

							a {
								text-decoration: none;
								display: block;
								width: 100%;
								height: 100%;
							}

							&:hover {
								background: #414f67;
							}
						}
					}
				}
			}
		}
	}
}