body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 20px;
  margin-top: 20px;
}
a {
  color: #000;
}
#container {
  background: orange;
  margin: auto;
  width: 900px;
  height: 600px;
  overflow: hidden;
  /* To stop margins collapsing */

}
#menus {
  position: relative;
  height: 100%;
  width: 99999999px;
}
#menus .overlay-window {
  display: inline-block;
  height: 100%;
  width: 300px;
  margin-left: 300px;
}
#menus .overlay-window .inner {
  display: table;
  height: 100%;
}
#menus .overlay-window .inner .inner2 {
  display: table-cell;
  vertical-align: middle;
}
#menus .overlay-window .inner .inner2 .inner3 {
  background: blue;
  padding: 20px;
  text-align: center;
}
#menus .overlay-window .inner .inner2 .inner3 ul {
  list-style: none;
  padding: 0;
  font-size: 40px;
}
#menus .overlay-window .inner .inner2 .inner3 ul li {
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}
#menus .overlay-window .inner .inner2 .inner3 ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
#menus .overlay-window .inner .inner2 .inner3 ul li:hover {
  background: red;
}
#game-cover {
  width: 900px;
  height: 600px;
  background: gray;
  opacity: 0.8;
  display: none;
  position: absolute;
}
#game {
  position: relative;
  display: none;
}
#game #grid,
#game #sidebar {
  position: absolute;
}
#game #grid {
  left: 0px;
  background: pink;
  width: 700px;
  height: 600px;
  display: inline-block;
}
#game #grid .inner {
  display: table;
  height: 100%;
  width: 100%;
}
#game #grid .inner .inner2 {
  display: table-cell;
  vertical-align: middle;
}
#game #grid .inner .inner2 .grid {
  background: orange;
  margin: auto;
}
#game #grid .inner .inner2 .grid9 {
  width: 576px;
  height: 576px;
}
#game #grid .inner .inner2 .grid8 {
  width: 512px;
  height: 512px;
}
#game #grid .inner .inner2 .grid7 {
  width: 448px;
  height: 448px;
}
#game #grid .inner .inner2 .grid6 {
  width: 384px;
  height: 384px;
}
#game #grid .inner .inner2 .grid5 {
  width: 320px;
  height: 320px;
}
#game #grid .inner .inner2 .grid4 {
  width: 256px;
  height: 256px;
}
#game #grid .inner .inner2 .grid3 {
  width: 192px;
  height: 192px;
}
#game #grid .inner .inner2 .grid2 {
  width: 128px;
  height: 128px;
}
#game #grid .inner .inner2 .grid1 {
  width: 64px;
  height: 64px;
}
#game #sidebar {
  right: 0px;
  background: red;
  width: 200px;
  height: 600px;
  display: inline-block;
}
#game #sidebar .inner {
  padding: 10px;
  padding-top: 0px;
}
#game #sidebar .inner .time,
#game #sidebar .inner .difficulty {
  text-align: center;
  font-size: 30px;
}
#game #sidebar .inner .time strong,
#game #sidebar .inner .difficulty strong {
  display: block;
}
#game #sidebar .inner .time span,
#game #sidebar .inner .difficulty span {
  font-size: 50px;
  font-weight: bold;
}
#game #sidebar .inner button {
  width: 100%;
  height: 30px;
  font-size: 20px;
}
