body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 20px;
  margin-top: 20px;
  background: #000;
}
a {
  color: #000;
}
#container {
  background: orange;
  margin: auto;
  width: 900px;
  height: 600px;
  overflow: hidden;
  /* To stop margins collapsing */

}
#menus {
  position: relative;
  height: 100%;
  width: 99999999px;
  z-index: 3;
}
#menus .overlay-window {
  display: inline-block;
  height: 100%;
  width: 300px;
  margin-left: 300px;
}
#menus .overlay-window .inner {
  display: table;
  height: 100%;
}
#menus .overlay-window .inner .inner2 {
  display: table-cell;
  vertical-align: middle;
}
#menus .overlay-window .inner .inner2 .inner3 {
  background: blue;
  padding: 20px;
  text-align: center;
}
#menus .overlay-window .inner .inner2 .inner3 ul {
  list-style: none;
  padding: 0;
  font-size: 40px;
}
#menus .overlay-window .inner .inner2 .inner3 ul li {
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}
#menus .overlay-window .inner .inner2 .inner3 ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
#menus .overlay-window .inner .inner2 .inner3 ul li:hover {
  background: red;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#game-cover {
  width: 900px;
  height: 600px;
  background: gray;
  opacity: 0.8;
  display: none;
  position: absolute;
}
#game {
  position: relative;
  display: none;
}
#game.tool_GLUE canvas {
  cursor: pointer;
}
#game #grid,
#game #sidebar {
  position: absolute;
}
#game #grid {
  left: 0px;
  background: pink;
  width: 700px;
  height: 600px;
  display: inline-block;
}
#game #grid .inner {
  display: table;
  height: 100%;
  width: 100%;
}
#game #grid .inner .inner2 {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
#game #grid .inner .inner2 canvas {
  width: 700px;
  height: 600px;
  z-index: 1;
}
#game #grid .inner .inner2 #gameCanvas {
  background: white;
}
#game #grid .inner .inner2 #debugCanvas {
  position: absolute;
  left: 0;
}
#game.state_BUILD #toolbox {
  display: block !important;
}
#game.state_BUILD #score {
  display: none;
}
#game #sidebar {
  right: 0px;
  background: red;
  width: 200px;
  height: 600px;
  display: inline-block;
}
#game #sidebar .inner {
  padding: 10px;
  padding-top: 0px;
}
#game #sidebar .inner .stat {
  text-align: center;
  font-size: 30px;
}
#game #sidebar .inner .stat strong {
  display: block;
}
#game #sidebar .inner .stat span {
  font-size: 50px;
  font-weight: bold;
}
#game #sidebar .inner button {
  width: 100%;
  height: 30px;
  font-size: 20px;
}
#game #sidebar .inner #toolbox {
  display: none;
  background: white;
  border: 2px solid black;
  padding: 0;
  list-style: none;
}
#game #sidebar .inner #toolbox li {
  padding-left: 5px;
  cursor: pointer;
}
#game #sidebar .inner #toolbox li:hover {
  background: orange;
}
#game #sidebar .inner #toolbox li.active {
  background: blue;
}
#game #sidebar .inner #score {
  font-size: 2em;
  text-align: center;
}
