<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Blue Balls Inc.</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
	<style>
		body {
			background: black;
			width: 100%;
			font-family: 'Raleway';
			font-size: 20px;
			color:#FFF;
		}

		a {
			color:#FFF;
		}
		.center {
			width: 900px;
			margin: auto;
			overflow: hidden;
		}
		h1 {
			text-align: center
		}
	</style>

</head>
<body>
	<div class="center">
		<h1>Blue Balls Inc.</h1>
		<iframe frameBorder="0" width="900" height="600" src="{{inner}}"></iframe>
		<p>A game by <a target="_blank" href="http://jscott.me">Jonathan Scott</a> with graphics by <a target="_blank" href="http://alanlongstaff.com">Alan Longstaff</a> as an entry for <a target="_blank" href="http://forums.somethingawful.com/showthread.php?threadid=3488014">SA Gamedev VII</a>. <a target="_blank" href="http://jscott.me/blueballs">Read more</a></p>
	</div>
</body>
</html>